
    .number {
      text-align: center;
      padding-top:2rem;
      span{ 
      // width: 12.1rem;
      // height: 2.6rem;
      font-size: 3.2rem;
      font-family: LED;
      font-weight: 400;
      color: #9EDAFF;
      // line-height: 74px;
      background: linear-gradient(4deg, #FFC600 0%, #FF6C00 100%);
      -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
      }
    }
      .describe{
     span{
    // width:11.6rem;
    // height: 1.5rem;
    font-size: 1.4rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #9edaff;
  }
}
.box-left {
  z-index: 99;
  margin-top: 11.8rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-one {
    background: url('/img/left-box.png') no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      width: 35.8rem;
      height: 40rem;
      padding-left: 1.8rem;
      padding-top: 1.4rem;
      margin-right: 1.8rem;
    }
    .content-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .table-box {
      margin-top: 6rem;
      display: flex;
      justify-content: center;
      align-self: center;
      table{
        // border: 1px solid;
        border-radius: 1rem;
        .table-head-style{
        // height: 3rem;
        // width: 37.45rem;
        th {
          z-index: 100;
          padding: 0.8rem;
          font-size: 1.2rem;
          // background: linear-gradient(0deg, rgba(0, 84, 255, 0.6));
          background: linear-gradient(0deg,  rgba(0, 84, 255, 0.6) 0%, rgba(4, 76, 221, 0.6) 100%);
          opacity: 0.75;
          text-align: center;
          // font-size: 14px;
          font-family: Microsoft YaHei;
          color: #9edaff;
        }
       }
       .table-cell-style{
        font-size: 1.2rem;
        line-height: 4rem;
        font-family: Microsoft YaHei;

        font-weight: 400;
        color: #9EDAFF;
        .icon{
          display: flex;
        }
        .icon_{
          width: 0.8rem;
          height: 0.8rem;
          background: #0FB981;
          border-radius: 50%;
          display: inline-block;
          line-height: 0.8rem;
          margin-right: 0.3rem;
          &:nth-child(2){
            // background: #f0852e;
          }
        }
        td{
         text-align: center;
        }
       }
      }
     }
   
   }
  &-two {
    background: url('/img/left-box.png') no-repeat;
    background-size: 100%;
    &__top{
      height: 50.8rem;
      padding-left: 1.8rem;
      padding-top: 1.4rem;
      width: 35.8rem;
    .content-box{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      box-sizing: border-box;
      margin-top: 3.1rem;
      &-bg{
        width: 16.6rem;
        height: 8rem;
        z-index: 99;
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center;
        background: url('/img/data-box.png') no-repeat;
        background-size: 100%;
       
      }
      .form{
        display: flex;
        flex-direction: column;
        justify-content: center; /* 水平居中 */
        align-items: center;
        // text-align: center;
        // padding: 2rem;
        &_num{
          // margin-top: 1rem;
          span {
            &:first-child {
              font-size: 2.4rem;
              font-family: LED;
              font-weight: 400;
              color: #9EDAFF;
              // line-height: 1rem;
              background: linear-gradient(4deg, #FFC600 0%, #FF6C00 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;

            }
            &:last-child{
              font-size: 1.2rem;
              font-family: Microsoft YaHei;
              font-weight: 400;
              color: #FFFFFF;
              opacity: 0.62;
            }
          }
        }
        &_des{
          span{
            font-size: 1.4rem;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #9EDAFF;
            }
           }
        }
      }
       //  
  .box-load{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    .content-load{
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__image{
        .img{
          // padding-top: 1rem;
          margin-top: 1rem;
          width: 12rem;
          height: 12rem;
          border:  1px solid;
          border-radius: 50%;
        }
      }
      &__des{
        margin-left: 2rem;
        display: flex;
        // padding-top: 2rem;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        // justify-content: space-around;
        .info-box{
          width: 100%;
          display: flex;
         flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-top: 2rem;
          &-left{
            position: relative;
            .des{
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0.9rem;
              width: 5.8rem;
              height: 1.3rem;
            }
          .rect_{
            position: absolute;
            top: 0;
            left: 0;
            width: 5.8rem;
            height: 1.3rem;
            padding: 0.8rem;
            background:
            linear-gradient(to bottom,#FFFFFF 0px,#FFFFFF 1px,transparent 1px,transparent 100%) left top no-repeat,
            linear-gradient(to right,#FFFFFF 0px,#FFFFFF 1px,transparent 1px,transparent 100%) left top no-repeat,
            linear-gradient(to bottom,#FFFFFF 0px,#FFFFFF 1px,transparent 1px,transparent 100%) right top no-repeat,
            linear-gradient(to left,#FFFFFF 0px,#FFFFFF 1px,transparent 1px,transparent 100%) right top no-repeat,
            linear-gradient(to top,#FFFFFF 0px,#FFFFFF 1px,transparent 1px,transparent 100%) left bottom no-repeat,
            linear-gradient(to right,#FFFFFF 0px,#FFFFFF 1px,transparent 1px,transparent 100%) left bottom no-repeat,
            linear-gradient(to top,#FFFFFF 0px,#FFFFFF 1px,transparent 1px,transparent 100%) right bottom no-repeat,
            linear-gradient(to left,#FFFFFF 0px,#FFFFFF 1px,transparent 1px,transparent 100%) right bottom no-repeat;
              background-size: 0.6rem 0.6rem; 
          }
         }
          &-right{
          margin-left: 1rem;
          width: 12.4rem;;
          height: 2.8rem;
          border: solid 1px #FFFFFF;
          display: inline-grid;
          .rate-chart{
          z-index: 200;
          display: flex;
          justify-content: flex-start;
          align-self: center;
          &_box{
            width: 0.8rem;
            height: 0.8rem;
            background: linear-gradient(to right,#90c1f8,#7a8df8);
            margin-left: 0.5rem; 
            &:nth-child(2){
              background: linear-gradient(to right,#7a8df8,#4a65ff);
            }
            &:nth-child(3){
              background: linear-gradient(to right,#4a65ff,#425ef8);
            }
            &:nth-child(4){
              background: linear-gradient(to right,#425ef8,#3c58fa);
            }
            &:nth-child(5){
              background: linear-gradient(to right,#3c58fa,#3754f8);
            }
          }
          &_num{
            font-size: 1rem;
            line-height: 0.8rem;
            margin-left: 0.8rem;
          }
          }
         }
        }
       }
      }
    }
    }
  }
}